<!--
  Basic auto-docking configuration for working with the default kobuki launcher (minimal.launch). 
 -->
<launch>
  <node pkg="nodelet" type="nodelet" name="dock_drive_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="dock_drive" args="load kobuki_auto_docking/AutoDockingNodelet dock_drive_nodelet_manager">
    <rosparam file="$(find kobuki_auto_docking)/param/auto_docking.yaml" command="load"/>
    <remap from="dock_drive/odom" to="odom"/>
    <remap from="dock_drive/kids100a" to="kids100a"/>
  </node>
</launch>
